<div class="container mt-3 d-flex justify-content-center">
  <form [formGroup]="fg" class="border rounded p-3 w-50">
    <div class="mb-3">
      <label for="birthDate" class="form-label">Birth Date</label>
      <input
        type="date"
        class="form-control"
        id="birthDate"
        formControlName="date"
        [class.is-invalid]="(date?.touched || date?.dirty) && date?.invalid"
      />
      <div
        class="invalid-feedback"
        *ngIf="(date?.touched || date?.dirty) && date?.invalid"
      >
        Invalid Date
      </div>
    </div>
    <code class="d-block bg-dark p-2 rounded">
      <b>Control Value: </b>{{ fg.get("date")?.value }}</code
    >
    <hr />
    <button type="submit" class="btn btn-primary" [disabled]="!fg.valid">
      Save
    </button>
  </form>
</div>
